/** Font: Playfair Display **/
/* font-face로 쓰면 IE에서 error */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

/** Font: Noto Sans KR **/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(./font/NotoSansKR-Light.woff2) format('woff2'),
		 url(./font/NotoSansKR-Light.woff) format('woff'),
		 url(./font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(./font/NotoSansKR-Medium.woff2) format('woff2'),
		 url(./font/NotoSansKR-Medium.woff) format('woff'),
		 url(./font/NotoSansKR-Medium.otf) format('opentype');
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

html, body {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 480px;
	overflow: hidden;
	touch-action: none;
	font-family: 'Playfair Display', 'Noto Sans KR', sans-serif;
}

.hide { display: none; }
.m-show { display: none; }
.m-show_inline { display: none; }
.animated { opacity: 1 !important; }

#noise {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/noise.png');
	pointer-events: none;
	z-index: 999;
}

/** index page **/
#index {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #166152;
	font-size: 1em;
	text-align: center;
	transition: 3s;
	transition-timing-function: ease;
	z-index: 999;
	transform: translateY(0%);
}
#index.up {
	transform: translateY(-200%);
}
#index .spotlight {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300%;
	height: 300%;
	color: #166152;
	cursor: default;
	
	background: -o-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: -moz-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: -webkit-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: linear-gradient(45deg, #ffcdb4, #ff7caf);
	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
#index #spotlight1 {
	font-size: 20em;
	animation-duration: 16s;
	1animation-name: spotlighting1;
}
#index #spotlight2 {
	font-size: 36em;
	animation-duration: 24s;
	1animation-name: spotlighting2;
}
/** Spotlight Animation **/
@keyframes spotlighting1 {
	0% { transform: translate(0px, 0px); }
	18% { transform: translate(1000px, 1200px); }
	40% { transform: translate(1500px, -50px); }
	53% { transform: translate(2000px, 800px); }
	70% { transform: translate(0px, 1200px); }
	84% { transform: translate(500px, -300px); }
	100% { transform: translate(1800px, 600px); }
}
@keyframes spotlighting2 {
	0% {  }
	100% {  }
}


#index .coverLayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 57%;
	height: 65%;
	min-height: 500px;
	background-color: rgba(234, 232, 220, 0.7);
	padding: 12px;	
}
#index .coverLayer > div {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #f6a2ab;
}
#index .coverLayer > div > div {
	position: absolute;
	left: 0;
	box-sizing: border-box;
	width: 100%;	
}
#index .coverLayer .title {
	top: 26%;
	font-size: 120px;
	color: #b38f6b;
	letter-spacing: -4px;
}
#index .coverLayer .title i {
	color: #32584c;
	font-style: italic;
	font-weight: 400;
}
#index .coverLayer .desc {
	top: 48%;
	font-size: 22px;
	color: #326857;
	font-weight: 200;
}
#index .coverLayer .desc b {
	font-weight: 400;
}
#index .coverLayer .start {
	top: 70%;
}
#index .coverLayer .start > div {
	margin: 0 auto;
	width: 280px;
	height: 60px;
	background-color: #1c5c4f;
	padding: 5px;
}
#index #startButton {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	line-height: 55px;
	color: #fff;
	font-size: 27px;
	letter-spacing: 12px;
	text-indent: 15px;
}
#index #browserRecommend {
	display: none;
	position: absolute;
	bottom: 15px;
	width: 100%;
	color: #555;
	font-size: 12px;
}


/** main **/
/** frame **/
#frame {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 20px solid transparent;
	transition: 2s;
	z-index: 888;
	pointer-events: none;
}

/** logo **/
#logo {
	position: fixed;
	top: 8%;
	left: 8%;
	z-index: 1000;
}
#logo svg path {
	transition: .5s;
}

/** nav **/
#nav {
	position: fixed;
	bottom: 45px;
	width: 100%;
	text-align: center;
	z-index: 777;
}
#nav > div {
	position: relative;
	margin: 0 auto;
	width: 240px;
	height: 30px;
}
#nav ul {
	position: relative;
	width: 100%;
	height: 100%;
}
#nav li {
	position: relative;
	float: left;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
}
#nav .dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #999;
	transition: .5s;
}
#nav li:hover .dot{
	background-color: #2c595d;
}
#nav #navProgress {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #999;
	transition: .5s;
}
#nav .dot.on {
	background-color: #fff;
}

#nextButton {
	position: fixed;
	bottom: -200px;
	right: 20px;
	width: 300px;
	height: 72px;
	line-height: 72px;
	color: #fff;
	font-size: 24px;
	background-color: #536866;
	text-indent: 10px;
	z-index: 777;
	transition: .5s;
}
#nextButton.on {
	bottom: 20px;
}
#nextButton > span {
	margin-left: 6px;
	font-size: 18px;
}

/** main sections **/
#main {
	position: relative;
	left: -1px;
	width: 900%;
	height: 100%;
	transition: 1s;
	transition-timing-function: ease;
	touch-action: none;
}

#main > section {
	position: relative;
	float: left;
	width: 11.11%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden;
	touch-action: none;
}

#main > section img {
	max-width: 100%;
}
.qBox {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 8%;
	margin: auto 0;
	height: 150px;
	z-index: 555;
	pointer-events: none;
}

.qBox .qNum {
	position: absolute;
	top: -110px;
	left: 0;
	font-size: 30px;
	text-align: center;
	opacity: 0;
}
.qBox .qNum > div { width: 100%; line-height: 35px; }
.qBox .qNum > div:first-of-type { font-size: 50px; }
.qBox .question {
	line-height: 70px;
	opacity: 0;
}
.qBox .question .qEn { font-size: 65px; }
.qBox .question .qKr {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 45px;
	font-weight: 200;
	letter-spacing: -5px;
}
.qBox .qDesc {
	position: relative;
	margin-top: 24px;
	font-size: 16px;
	font-weight: 200;
	text-indent: 5px;
	opacity: 0;
}
.aBox {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding-right: 8%;
	height: 100%;
	text-align: center;
}

/** Section 1 **/
#section1 { background-color: #a4d0d1; color: #644b54; }
#section1 .aBox { width: 55%; }
#section1 .genderTag {
	display: inline-block;
	position: relative;
	margin: 20px 10px;
	width: 40%;
	max-width: 400px;
	opacity: 0;
}
#section1 #genderTagM { top: 16%; }
#section1 #genderTagF { top: 22%; }
#section1 .genderTag .tag {
	cursor: pointer;
	animation-iteration-count: infinite;
	animation-duration: 1.2s;
}
#section1 .genderTag .line {
	position: absolute;
	transform: translate(786%, -97%);
	width: 6%;
	z-index: 666;
}

/** Section 2 **/
#section2 { background-color: #fbb8a8; color: #5e4d47; }
#section2 .aBox { width: 55%; }
#section2 .clock {
	position: absolute;
	top: -6%;
	left: 0;
	right: 15%;
	bottom: 0;
	margin: auto;
	width: 700px;
	height: 700px;
	opacity: 0;
}
#section2 .clockFace {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
#section2 .clockFace img {
	vertical-align: middle;
}
#section2 #clockNeedle1 {
	transition: transform 1s;
	transform: rotate(0deg);
}
#section2 #clockNeedle1.a10 {
	transform: rotate(0deg);
}
#section2 #clockNeedle1.a20 {
	transform: rotate(60deg);
}
#section2 #clockNeedle1.a30 {
	transform: rotate(120deg);
}
#section2 #clockNeedle1.a40 {
	transform: rotate(180deg);
}
#section2 #clockNeedle1.a50 {
	transform: rotate(240deg);
}
#section2 #clockNeedle1.a60 {
	transform: rotate(300deg);
}
#section2 #clockNeedle2 {
	-webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}
#section2 .age {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 70px;
	height: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	color: #bc8582;
	cursor: pointer;
}
#section2 #age10 {
	top: 15px;
	bottom: auto;
}
#section2 #age20 {
	left: auto;
	top: -270px;
	right: 20px;
}
#section2 #age30 {
	left: auto;
	top: 280px;
	right: 20px;
}
#section2 #age40 {
	top: auto;
}
#section2 #age50 {
	right: auto;
	top: 280px;
	left: 20px;
}
#section2 #age60 {
	right: auto;
	top: -270px;
	left: 20px;
}
#section2 .age.on {
	color: #705754;
}
#section2 .age > span {
	font-size: 40px;
}

/** Section 3 **/
#section3 { background-color: #043d5d; color: #fff; }
#section3 .aBox { width: 100%; padding-right: 0; }
#section3 .leftSide { float: left; width: 45%; height: 100%; }
#section3 .leftSide .upperDiv { width: 100%; height: 75%; background-color: #164361; }
#section3 .leftSide .lowerDiv { width: 100%; height: 25%; background-color: #274b65; }
#section3 .rightSide { position: relative; float: right; width: 55%; height: 100%; }
#section3.yes { background-color: #ff81a5; }
#section3.yes .leftSide .upperDiv { background-color: #ff8cae; }
#section3.yes .leftSide .lowerDiv { background-color: #ff9bbb; }
#section3.no { background-color: #bdd4e2; }
#section3.no .leftSide .upperDiv { background-color: #9fbbce; }
#section3.no .leftSide .lowerDiv { background-color: #b3c9d7; }
#section3 #marriageButton {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 85%;
	height: 55%;
	opacity: 0;
	background-image: url(/img/q3_default.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#section3.yes #marriageButton {
	background-image: url(/img/q3_yes.png);
}
#section3.no #marriageButton {
	background-image: url(/img/q3_no.png);
}
#section3 #marriageButton img {
	visibility: hidden;
}
#section3 .marriageYes {
	position: absolute;
	top: 24%;
	left: 0;
	width: 50%;
	height: 50%;
}
#section3 .marriageNo {
	position: absolute;
	top: 24%;
	right: 0;
	width: 50%;
	height: 50%;
}
#section3 .redDots {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#section3 .redDots > div {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #d66071;
	
	transform: rotateX(12px);
	transform-origin: left top;
	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: spin;
}
#section3 .redDots > div:nth-of-type(1) {
	top: 30%;
	left: 20%;
	animation-duration: 7s;
}
#section3 .redDots > div:nth-of-type(2) {
	top: 10%;
	left: 80%;
	animation-duration: 15s;
}
#section3 .redDots > div:nth-of-type(3) {
	top: 76%;
	left: 24%;
	animation-duration: 6s;
}
#section3 .redDots > div:nth-of-type(4) {
	top: 86%;
	left: 79%;
	animation-duration: 8s;
}
#section3 .redDots > div:nth-of-type(5) {
	top: 36%;
	left: 72%;
	animation-duration: 11s;
}
#section3 .redDots > div:nth-of-type(6) {
	top: 50%;
	left: 50%;
	animation-duration: 9s;
}


/** Section 4 **/
#section4 { background-color: #443a0e; color: #605319; }
#section4 .aBox {
	left: 0;
	right: auto;
	width: 100%;
	height: 100%;
	padding: 20px;
}
#section4 .inside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fac34e;
	background-image: url(/img/q4_indoor.png);
	background-size: 40%;
}
#section4 .outside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: #ffdd57;
	background-image: url(/img/q4_outdoor.png);
	background-size: 40%;
}
#section4 .gauge {
	position: absolute;
	right: 0;
	width: 180px;
}
#section4 .inside .gauge {
	bottom: 0;
	height: 50%;
	background-color: #ffb61a;
}
#section4 .outside .gauge {
	top: 0;
	height: 100%;
	background-color: #ffd011;
}
#section4 .gaugeText {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 80px;
	font-size: 25px;
	display: none;
}
#section4 .gaugeText > div {
	padding-right: 10px;
	box-sizing: border-box;
}
#section4 .gaugeText > div:first-of-type {
	font-size: 25px;
	line-height: 30px;
}
#section4 .gaugeText > div:last-of-type {
	font-size: 30px;
	line-height: 45px;
}
#section4 .gaugeText span {
	font-size: 40px;
}
#section4 #handle {
	position: absolute;
	top: 42%;
	right: 18%;
	width: 150px;
	height: 150px;
	background-image: url(/img/q4_handle.png);
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	touch-action: none;
}

/** Section 5 **/
#section5 { background-color: #63aea1; color: #fff; }
#section5 .aBox {
	left: 0;
	right: auto;
	width: 100%;
	height: 100%;
	padding: 20px;
}
#section5 .grid {
	width: 100%;
	height: 100%;
}
#section5 .grid > li {
	position: relative;
	float: left;
	width: 33.33%;
	height: 50%;
	cursor: pointer;
}
#section5 .grid > li:nth-of-type(even) { background-color: #67b6a8; }
#section5 .grid > li.on { background-color: #ffb797; }
#section5 .grid img {
	width: 75%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
}

/** Section 6**/
#section6 { background-color: #1d4e61; color: #ffe7c8; }
#section6 .aBox {
	left: 0;
	right: auto;
	width: 100%;
	height: 100%;
	padding: 20px;
}
#section6 .tapeline {
	position: absolute;
	left: 15%;
	bottom: 12%;
	width: 55%;
	height: 50%;
	opacity: 0;
}
#section6 #tapelineWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#section6 #tapelineArrow {
	position: absolute;
	width: 100%;
	bottom: 80px;
	left: 90px;
	height: 70px;
	line-height: 70px;
	text-align: center;
}
#section6 #tapelineArrow img {
	vertical-align: bottom;
}
#section6 #tapelineLine {
	position: absolute;
	left: 70%;
	bottom: 65px;
	width: 100%;
	height: 70px;
	background-image: url(/img/q6_tapeline_line.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	cursor: pointer;
}
#section6 #tapelineBody {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	padding-top: 50%;
	background-image: url(/img/q6_tapeline.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	transform: translateX(96%);
	pointer-events: none;
}

#section6 #tapelineText {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	pointer-events: none;
}
#section6 #tapelineText.lot {
	background-image: url(/img/q6_lot.png);
}
#section6 #tapelineText.soso {
	background-image: url(/img/q6_soso.png);
}
#section6 #tapelineText.little {
	background-image: url(/img/q6_little.png);
}

/** Section 7 **/
#section7 { background-color: #f8dcb9; color: #4f3f40; }
#section7 .aBox {
	width: 100%;
	height: 100%;
	padding: 0;
}
#section7 .floor {
	position: absolute;
	width: 100%;
	height: 33%;
	bottom: 0;
	background-color: #fbe4c3;
}
#section7 .floor > div {
	position: absolute;
	top: 25px;
	right: 8%;
}
#section7 .floor .holeCover {
	z-index: 777;
}
#section7 .floor .holeArrow {
	position: absolute;
	top: -70px;
	width: 100%;
	text-align: center;
}
#section7 .colors {
	width: 100%;
	height: 100%;
	opacity: 0;
}
#section7 .colors .color {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	animation-iteration-count: infinite;
	background-size: contain;
	background-repeat: no-repeat;
}
#section7 .colors #yellow {
	top: 8%;
	left: 15%;
	width: 190px;
	height: 190px;
	background-image: url(/img/q7_yellow.png);
}
#section7 .colors #red {
	top: 27%;
	left: 52%;
	width: 110px;
	height: 315px;
	background-image: url(/img/q7_red.png);
}
#section7 .colors #cyan {
	top: 10%;
	left: 63%;
	width: 180px;
	height: 255px;
	background-image: url(/img/q7_cyan.png);
}
#section7 .colors #purple {
	top: 30%;
	left: 77%;
	width: 240px;
	height: 240px;
	background-image: url(/img/q7_purple.png);
}
#section7 .colors #green {
	top: 35%;
	left: 28%;
	width: 238px;
	height: 230px;
	background-image: url(/img/q7_green.png);
}

/** Section 8 **/
#section8 { background-color: #ec92ad; color: #523d36; }
#section8 .aBox {
	top: 0;
	bottom: 0;
	right: 10%;
	margin: auto 0;
	width: 50%;
	height: 70%;
	padding-right: 0;
	opacity: 0;
}
#section8 .stuff {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#section8 .stuff > img { visibility: hidden; }
#section8 #travel {
	top: 0%;
	left: 0%;
	background-image: url(/img/q8_travel.png);
	width: 40%;
}
#section8 #exercise {
	top: 10%;
	left: 45%;
	background-image: url(/img/q8_exercise.png);
	width: 20%;
}
#section8 #DIY {
	top: 22%;
	left: 70%;
	background-image: url(/img/q8_DIY.png);
	width: 30%;
}
#section8 #cook {
	top: 42%;
	left: 8%;
	background-image: url(/img/q8_cook.png);
	width: 32%;
}
#section8 #exhibition {
	top: 70%;
	left: 62%;
	background-image: url(/img/q8_exhibition.png);
	width: 38%;
}
#section8 #travel:hover { background-image: url(/img/q8_travel_hover.png); }
#section8 #exercise:hover { background-image: url(/img/q8_exercise_hover.png); }
#section8 #DIY:hover { background-image: url(/img/q8_DIY_hover.png); }
#section8 #cook:hover { background-image: url(/img/q8_cook_hover.png); }
#section8 #exhibition:hover { background-image: url(/img/q8_exhibition_hover.png); }

#section8 #travel.on { background-image: url(/img/q8_travel_hover.png); }
#section8 #exercise.on { background-image: url(/img/q8_exercise_hover.png); }
#section8 #DIY.on { background-image: url(/img/q8_DIY_hover.png); }
#section8 #cook.on { background-image: url(/img/q8_cook_hover.png); }
#section8 #exhibition.on { background-image: url(/img/q8_exhibition_hover.png); }

#section9 {
	background: -o-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: -moz-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: -webkit-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: linear-gradient(45deg, #ffcdb4, #ff7caf);
}
#section9 .loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 80px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
}
#section9 .loadingText {
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}
#section9 .loadingBar {
	margin: 0 auto;
	margin-top: 10px;
	width: 300px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 20px;
	background-color: #e6e6e6;
	overflow: hidden;
}
#section9 .barProgress {
	height: 100%;
	width: 0%;
	background-color: #ffc559;
	transition: 6s;
}
#section9 .barProgress.isLoading {
	width: 100%;
}

@media all and (max-width : 990px) {
	.m-show { display: block; }
	.m-show_inline { display: inline; }
	.m-hide { display: none !important; }
	
	#logo {
		left: 8%;
	}
	
	#index .coverLayer {
		width: 80%;
		height: 60%;
		min-height: auto;
		padding: 12px;
	}
	#index .coverLayer .title {	top: 18%; }
	#index .coverLayer .desc {
		top: 60%;
		line-height: 32px;
	}
	#index .coverLayer .start {	top: 78%; }
	#index #browserRecommend { font-size: 10px; }
	
	.qBox {
		bottom: auto;
		top: 12%;
		left: 0;
		width: 100%;
		margin: 0;
		height: auto;
	}
	.qBox > div {
		float: left;
		box-sizing: border-box;
	}
	.qBox .qNum {
		position: relative;
		top: 0;
		left: 0;
		width: 25%;
		font-size: 40px;
		padding: 0 5% 0 12%;
		vertical-align: top;
	}
	.qBox .qNum > div { line-height: 40px; }
	.qBox .qNum > div:first-of-type { font-size: 60px; }
	.qBox .question {
		width: 75%;
		line-height: 60px;
	}
	.qBox .question .qEn { font-size: 50px; }
	.qBox .question .qKr {
		font-size: 32px;
		letter-spacing: -2px;
		line-height: 40px;
    	padding-top: 5px;
		padding-right: 12%;
	}
	.qBox .qDesc {
		width: 75%;
		float: right;
	}
	
	.aBox {
		padding: 0 8%;
	}

	#nextButton {
		right: auto;
		width: 100%;
	}
	
	/** Section 1 **/
	#section1 .aBox { width: 100%; }
	#section1 #genderTagM { top: 34%; }
	#section1 #genderTagF { top: 39%; }
	
	/** Section 2 **/
	#section2 .aBox { width: 100%; padding: 0; }
	#section2 .clock {
		top: 10%;
		right: 0;
		width: 600px;
		height: 600px;
	}
		
	/** Section 3 **/
	#section3 .aBox { width: 100%; padding: 0; }
	#section3 .leftSide { float: left; width: 100%; height: 32%; }
	#section3 .leftSide .upperDiv { float: left; width: 65%; height: 100%; }
	#section3 .leftSide .lowerDiv { float: left; width: 35%; height: 100%; }
	#section3 .rightSide { position: relative; float: left; width: 100%; height: 68%; }
	#section3 #marriageButton {
		width: 80%;
		height: 60%;
		top: -15%;
	}

	/** Section 4 **/
	#section4 .aBox { width: 100%; }
	#section4 #handle {
		position: relative;
		top: 42.5%;
		right: auto;
	}
	
	/** Section 5 **/
	#section5 .grid > li {
		width: 50%;
		height: 33.33%;
	}
	#section5 .grid > li:nth-of-type(even) { background-color: #67b6a8; }
	#section5 .grid > li:nth-of-type(3) { background-color: #67b6a8; }
	#section5 .grid > li:nth-of-type(4) { background-color: #63aea1; }
	#section5 .grid > li.on { background-color: #ffb797; }

	#section6 .aBox { width: 100%; }

	#section7 .aBox { width: 100%; }
	#section7 .floor > div {
		position: absolute;
		top: 25px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 540px;
	}
	#section7 .colors #yellow {
		top: 29%;
		left: 10%;
		width: 140px;
		height: 140px;
	}
	#section7 .colors #red {
		top: 23%;
		left: 49%;
		width: 80px;
		height: 260px;
	}
	#section7 .colors #cyan {
		top: 10%;
		left: 70%;
		width: 130px;
		height: 210px;
	}
	#section7 .colors #purple {
		top: 39%;
		left: 65%;
		width: 190px;
		height: 190px;
	}
	#section7 .colors #green {
		top: 45%;
		left: 20%;
		width: 185px;
		height: 180px;
	}
	
	#section8 .aBox {
		top: 100px;
		left: 0;
		right: 0;
		margin: auto;
		width: 86%;
		height: 55%;
	}
}

@media all and (max-width : 767px) {	
	/** frame **/
	#frame { border: 10px solid transparent; }

	#logo {
		transform: scale(0.6);
		transform-origin: top left;
	}
	
	#index #spotlight1 {
		font-size: 15em;
		animation-name: spotlighting1_mobile;
		animation-duration: 22s;
	}
	#index #spotlight2 {
		font-size: 25em;
		animation-name: spotlighting2_mobile;
		animation-duration: 20s;
	}
	#index .coverLayer .title {
		top: 15%;
		font-size: 60px;
	}
	#index .coverLayer .desc {
		top: 53%;
		font-size: 15px;
		line-height: 24px;
	}
	#index .coverLayer .start {
		top: 75%;
	}
	#index .coverLayer .start > div {
		width: 172px;
		height: 40px;
		padding: 6px;
	}
	#index #startButton {
		line-height: 28px;
		font-size: 20px;
		letter-spacing: 12px;
	}
	
	.qBox .qNum {
		width: 32%;
		font-size: 30px;
		padding: 0 8% 0 12%;
	}
	.qBox .qNum > div { line-height: 25px; }
	.qBox .qNum > div:first-of-type { font-size: 40px; }
	.qBox .question {
		width: 68%;
		line-height: 35px;
	}
	.qBox .question .qEn { font-size: 32px; }
	.qBox .question .qKr {
		font-size: 20px;
		line-height: 27px;
	}
	
	
	#nextButton.on {
		bottom: 10px;
	}
	
}