/** Font: Playfair Display **/
/* font-face로 쓰면 IE에서 error */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

/** Font: Noto Sans KR **/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(./font/NotoSansKR-Light.woff2) format('woff2'),
		 url(./font/NotoSansKR-Light.woff) format('woff'),
		 url(./font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(./font/NotoSansKR-Medium.woff2) format('woff2'),
		 url(./font/NotoSansKR-Medium.woff) format('woff'),
		 url(./font/NotoSansKR-Medium.otf) format('opentype');
}

html, body {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 480px;
	overflow: hidden;
	
	font-family: 'Playfair Display', 'Noto Sans KR', sans-serif;
}

main {
	width: 100%;
	height: 100%;
	background-color: #cf959b;
	position: relative;
}
#noise {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/noise.png');
	pointer-events: none;
	z-index: 999;
}
/** logo **/
#logo {
	position: fixed;
	top: 8%;
	left: 8%;
	z-index: 1000;
}

.animated { opacity: 1 !important; }
.sideBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
	height: 100%;
	background-color: #353f55;
	opacity: 0;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 65%;
	height: 70%;
	background-color: #fff;
	padding: 10px;
	opacity: 0;
}
section > div {
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px solid #717c95;
	box-sizing: border-box;
}
.dhLogo {
	position: absolute;
	top: 5%;
	right: 6%;
}

.mag {
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}
.mag .magCover {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.mag .magCover img {
	position: relative;
	box-shadow: 2px 2px 12px #aaa
}
.mag .magShadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
	background-color: #aaa;
	opacity: 0.6;
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-ms-transition: .7s;
	-o-transition: .7s;
	-moz-transition: .7s;
	-webkit-transition: .7s;
	transition: .7s;
}
.mag .magShadow.tilt {
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	-ms-transform-origin: bottom left;
	-o-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
}
.type {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
}
.typeWrap {
	position: absolute;
	top: 50%;
	width: 100%;
	padding-left: 2%;
	padding-right: 12%;
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	box-sizing: border-box;
	opacity: 0;
}
.type .yt {
	font-size: 16px;
	color: #3d465b;
}
.type .typeTitle {
	padding: 12px 0;
	font-size: 32px;
	font-weight: 200;
	color: #4d566c;
}
.type .typeText {
	padding-top: 12px;
	line-height: 26px;
	font-size: 16px;
	font-weight: 200;
	color: #3d465b;
}
.type .fakeShare {
	padding: 30px 0;
	color: #3d465b;
}
.type .fakeShare img {
	margin: 8px 0;
	cursor: pointer;
}
.type .replay {
	padding-top: 10px;
}
.type .replay > div {
	width: 250px;
	height: 60px;
	background-color: #475168;
	padding: 5px;
	box-sizing: border-box;
}
.type #replayButton {
	width: 100%;
	height: 100%;
	line-height: 38px;
	border: 1px solid #fff;
	font-size: 18px;
	letter-spacing: 5px;
	color: #fff;
}

@media all and (max-width : 990px) {
	section {
		width: 90%;
	}
}
@media all and (max-width : 767px) {
	#logo {
		display: none;
	}
	.dhLogo {
		-ms-transform: scale(0.6);
		-o-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		-ms-transform-origin: top right;
		-o-transform-origin: top right;
		-moz-transform-origin: top right;
		-webkit-transform-origin: top right;
		transform-origin: top right;
	}
	section {
		width: 84%;
		height: 87%;
	}
	.mag {
		width: 100%;
		height: 40%;
	}
	.mag .magCover {
		-ms-transform: scale(0.3) translate(-50%, -50%);
		-o-transform: scale(0.3) translate(-50%, -50%);
		-moz-transform: scale(0.3) translate(-50%, -50%);
		-webkit-transform: scale(0.3) translate(-50%, -50%);
		transform: scale(0.3) translate(-50%, -50%);
		-ms-transform-origin: top left;
		-o-transform-origin: top left;
		-moz-transform-origin: top left;
		-webkit-transform-origin: top left;
		transform-origin: top left;
	}
	
	.type {
		width: 100%;
		height: 60%;
	}
	.typeWrap {
		top: 0;
		height: 100%;
		padding: 0 15px;
		-ms-transform: none;
		-o-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
	}
	.type .yt {
		font-size: 10px;
	}
	.type .typeTitle {
		padding: 12px 0;
		font-size: 18px;
	}
	.type .typeText {
		padding-top: 4px;
		line-height: 18px;
		font-size: 12px;
	}
	.type .fakeShare {
		display: none;
	}
	.type .replay {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		padding-top: 0px;
	}
	.type .replay > div {
		margin: 0 auto;
		width: 180px;
		height: 40px;
	}
	.type #replayButton {
		line-height: 27px;
		font-size: 12px;
	}
}