/** Font: Playfair Display **/
/* font-face로 쓰면 IE에서 error */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

/** Font: Noto Sans KR **/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(./font/NotoSansKR-Light.woff2) format('woff2'),
		 url(./font/NotoSansKR-Light.woff) format('woff'),
		 url(./font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(./font/NotoSansKR-Medium.woff2) format('woff2'),
		 url(./font/NotoSansKR-Medium.woff) format('woff'),
		 url(./font/NotoSansKR-Medium.otf) format('opentype');
}


/** Spotlight Animation **/
/** TODO: animation range 정해서 수정 **/
@keyframes spotlighting1 {
	0% { text-indent: 120%; line-height: 940%; }
	18% { text-indent: -100%; line-height: 520%; }
	29% { text-indent: 20%; line-height: 200%; }
	40% { text-indent: 90%; line-height: 470%; }
	57% { text-indent: -95%; line-height: 720%; }
	72% { text-indent: 40%; line-height: 250%; }
	84% { text-indent: 90%; line-height: 780%; }
	100% { text-indent: -60%; line-height: 950%; }
}
@keyframes spotlighting2 {
	0% { text-indent: -150%; line-height: 100%;	}
	16% { text-indent: -30%; line-height: 450%;	}
	27% { text-indent: 50%; line-height: 100%; }
	42% { text-indent: 100%; line-height: 420%;	}
	64% { text-indent: -110%; line-height: 240%; }
	74% { text-indent: 10%;	line-height: 100%; }
	82% { text-indent: 80%;	line-height: 240%; }
	100% { text-indent: -100%; line-height: 550%; }
}

/** TODO: mobile용 화면 사이즈 고려 다시 수정 **/
@keyframes spotlighting1_mobile {
	/* text-indent: -150% ~ 90% / line-height: 100% ~ 660% */
	0% { text-indent: 90%; line-height: 100%; }
	19% { text-indent: -10%; line-height: 620%; }
	30% { text-indent: -150%; line-height: 400%; }
	44% { text-indent: 30%; line-height: 110%; }
	67% { text-indent: 90%; line-height: 580%; }
	84% { text-indent: -150%; line-height: 300%; }
	100% { text-indent: 90%; line-height: 100%; }
}
@keyframes spotlighting2_mobile {
	/* text-indent: -200% ~ 100% / line-height: 100% ~ 360% */
	0% { text-indent: -200%; line-height: 200%; }
	18% { text-indent: 100%; line-height: 360%; }
	34% { text-indent: -10%; line-height: 100%; }
	50% { text-indent: -180%; line-height: 320%; }
	66% { text-indent: 100%; line-height: 160%; }
	85% { text-indent: -120%; line-height: 100%; }
	100% { text-indent: -200%; line-height: 200%; }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

html, body {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 480px;
	overflow: hidden;
	
	font-family: 'Playfair Display', 'Noto Sans KR', sans-serif;
}

.hide { display: none; }
.m-show { display: none; }
.m-show_inline { display: none; }
.animated { opacity: 1 !important; }

#noise {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/noise.png');
	pointer-events: none;
	z-index: 999;
}

/** index page **/
#index {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #166152;
	font-size: 1em;
	text-align: center;
	transition: 3s;
	transition-timing-function: ease;
	z-index: 999;
}
#index.up {
	top: -200%;
}
#index .spotlight {
	position: absolute;
	top: -50%;
	left: 0;
	width: 100%;
	height: 150%;
	cursor: default;
	
	color: #166152;
	background: -o-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: -webkit-linear-gradient(45deg, #ffcdb4, #ff7caf);
	background: linear-gradient(45deg, #ffcdb4, #ff7caf);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
}
#index #spotlight1 {
	font-size: 20em;
	animation-name: spotlighting1;
	animation-duration: 28s;
}
#index #spotlight2 {
	font-size: 36em;
	animation-name: spotlighting2;
	animation-duration: 24s;
}

#index .coverLayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 57%;
	height: 65%;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 12px;	
}
#index .coverLayer > div {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #f6a2ab;
}
#index .coverLayer > div > div {
	position: absolute;
	left: 0;
	box-sizing: border-box;
	width: 100%;	
}
#index .coverLayer .title {
	top: 26%;
	font-size: 120px;
	color: #b38f6b;
	letter-spacing: -4px;
}
#index .coverLayer .title i {
	color: #32584c;
	font-style: italic;
	font-weight: 400;
}
#index .coverLayer .desc {
	top: 48%;
	font-size: 22px;
	color: #326857;
	font-weight: 200;
}
#index .coverLayer .desc b {
	font-weight: 400;
}
#index .coverLayer .start {
	top: 70%;
}
#index .coverLayer .start > div {
	margin: 0 auto;
	width: 280px;
	height: 60px;
	background-color: #1c5c4f;
	padding: 5px;
}
#index #startButton {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	line-height: 55px;
	color: #fff;
	font-size: 27px;
	letter-spacing: 12px;
	text-indent: 15px;
}

#index #browserRecommend {
	display: none;
	position: absolute;
	bottom: 15px;
	width: 100%;
	color: #555;
	font-size: 12px;
}


/** main **/
/** frame **/
#frame {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 20px solid;
	border-color: transparent;
	transition: 2s;
	z-index: 888;
	pointer-events: none;
}

/** logo **/
#logo {
	position: fixed;
	top: 6%;
	left: 5%;
	z-index: 1000;
}
#logo svg path {
	transition: .5s;
}

/** nav **/
#nav {
	position: fixed;
	bottom: 45px;
	width: 100%;
	text-align: center;
}
#nav li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
#nav .dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #8ca5a2;
	transition: .5s;
}
#nav .dot:hover {
	background-color: #ff93ac;
}
#nav .dot.on {
	background-color: #fff;
	border: 8px solid rgba(50, 50, 50, 0.4);
	
	animation-name: dotting;
	animation-timing-function: ease;
	animation-duration: .5s;
	animation-direction: alternate;
}
@keyframes dotting {
	0% { border: 0px solid rgba(50, 50, 50, 0.4); }
	70% { border: 12px solid rgba(50, 50, 50, 0.4); }
	100% { border: 8px solid rgba(50, 50, 50, 0.4); }
}

/** main sections **/
#main {
	position: relative;
	left: -1px;
	width: 800%;
	height: 100%;
	transition: 1s;
	transition-timing-function: ease;
}

#main > section {
	position: relative;
	float: left;
	width: 12.5%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
}

#main > section img {
	max-width: 100%;
}
.qBox {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 8%;
	margin: auto 0;
	height: 150px;
	z-index: 555;
}

.qBox .qNum {
	position: absolute;
	top: -110px;
	left: 0;
	font-size: 30px;
	text-align: center;
	opacity: 0;
}
.qBox .qNum > div { width: 100%; line-height: 35px; }
.qBox .qNum > div:first-of-type { font-size: 50px; }
.qBox .question {
	line-height: 80px;
	opacity: 0;
}
.qBox .question .qEn { font-size: 70px; }
.qBox .question .qKr {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 55px;
	font-weight: 200;
	letter-spacing: -5px;
}

.aBox {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding-right: 8%;
	height: 100%;
	text-align: center;
}

#section1 { background-color: #b3d3d0; color: #644b54; }
#section1 .aBox { width: 55%; }
#section1 .genderTag {
	display: inline-block;
	position: relative;
	margin: 20px 10px;
	width: 40%;
	max-width: 400px;
	opacity: 0;
}
#section1 #genderTagM { top: 16%; }
#section1 #genderTagF { top: 22%; }
#section1 .genderTag .tag {
	cursor: pointer;
	animation-iteration-count: infinite;
}
#section1 .genderTag .line {
	position: absolute;
	transform: translate(786%, -97%);
	width: 6%;
	z-index: 666;
}

#section2 { background-color: #f8c8b8; color: #5e4d47; }
#section2 .aBox { width: 55%; }
#section2 .clock {
	position: absolute;
	top: -12%;
	left: 0;
	right: 15%;
	bottom: 0;
	margin: auto;
	width: 700px;
	height: 700px;
	opacity: 0;
}
#section2 .clockFace {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
#section2 .clockFace img {
	vertical-align: middle;
}
#section2 #clockNeedle1 {
	transition: transform 1s;
	transform: rotate(0deg);
}
#section2 #clockNeedle2 {
	-webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}
#section2 .age {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 70px;
	height: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	font-weight: 200;
	color: #bc8582;
	cursor: pointer;
}
#section2 #age10 {
	top: 15px;
	bottom: auto;
}
#section2 #age20 {
	left: auto;
	top: -265px;
	right: 20px;
}
#section2 #age30 {
	left: auto;
	top: 275px;
	right: 20px;
}
#section2 #age40 {
	top: auto;
}
#section2 #age50 {
	right: auto;
	top: 275px;
	left: 20px;
}
#section2 #age60 {
	right: auto;
	top: -265px;
	left: 20px;
}
#section2 .age.on {
	color: #705754;
}
#section2 .age > span {
	font-size: 40px;
	font-weight: 400;
}
#section3 { background-color: #043d5d; color: #fff; }
#section3 .aBox { width: 100%; }
#section3 .leftSide { float: left; width: 45%; height: 100%; }
#section3 .leftSide .upperDiv { width: 100%; height: 75%; background-color: #164361; }
#section3 .leftSide .lowerDiv { width: 100%; height: 25%; background-color: #274b65; }
#section3 .rightSide { position: relative; float: right; width: 55%; height: 100%; }
#section3.yes { background-color: #ff81a5; }
#section3.yes .leftSide .upperDiv { background-color: #ff8cae; }
#section3.yes .leftSide .lowerDiv { background-color: #ff9bbb; }
#section3.no { background-color: #bdd4e2; }
#section3.no .leftSide .upperDiv { background-color: #9fbbce; }
#section3.no .leftSide .lowerDiv { background-color: #b3c9d7; }
#section3 #marriageButton {
	position: absolute;
	top: -70px;
	bottom: 0;
	right: 0;
	margin: auto 0;
	width: 75%;
	height: 400px;
	opacity: 0;
}
#section3 .marriageYes {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
#section3 .marriageNo {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	width: 50%;
	height: 100%;
}
#section4 { background-color: thistle; }
#section5 { background-color: mediumaquamarine; }
#section6 { background-color: lightcoral; }
#section7 { background-color: lightcyan; }
#section8 { background-color: lightgoldenrodyellow; }


@media all and (max-width : 990px) {
	.m-show { display: block; }
	.m-show_inline { display: inline; }
	.m-hide { display: none !important; }
	
	#logo {
		left: 8%;
	}
	
	#index .coverLayer {
		width: 80%;
		height: 60%;
		padding: 12px;
	}
	#index .coverLayer .title {	top: 18%; }
	#index .coverLayer .desc {
		top: 60%;
		line-height: 32px;
	}
	#index .coverLayer .start {	top: 78%; }
	#index #browserRecommend { font-size: 10px; }
	
	.qBox {
		bottom: auto;
		top: 12%;
		left: 0;
		width: 100%;
		margin: 0;
		height: auto;
	}
	.qBox > div {
		float: left;
		box-sizing: border-box;
	}
	.qBox .qNum {
		position: relative;
		top: 0;
		left: 0;
		width: 25%;
		font-size: 40px;
		padding: 0 5% 0 12%;
		vertical-align: top;
	}
	.qBox .qNum > div { line-height: 40px; }
	.qBox .qNum > div:first-of-type { font-size: 60px; }
	.qBox .question {
		width: 75%;
		line-height: 60px;
	}
	.qBox .question .qEn { font-size: 50px; }
	.qBox .question .qKr {
		font-size: 32px;
		letter-spacing: -2px;
		line-height: 40px;
    	padding-top: 5px;
		padding-right: 12%;
	}
	
	.aBox {
		padding: 0 8%;
	}

	#section1 .aBox { width: 100%; }
	#section1 #genderTagM { top: 34%; }
	#section1 #genderTagF { top: 39%; }
}

@media all and (max-width : 767px) {	
	/** frame **/
	#frame { border: 10px solid; }

	#logo {
		transform: scale(0.6);
		transform-origin: top left;
	}
	
	#index #spotlight1 {
		font-size: 15em;
		animation-name: spotlighting1_mobile;
		animation-duration: 22s;
	}
	#index #spotlight2 {
		font-size: 25em;
		animation-name: spotlighting2_mobile;
		animation-duration: 20s;
	}
	#index .coverLayer .title {
		top: 15%;
		font-size: 60px;
	}
	#index .coverLayer .desc {
		top: 50%;
		font-size: 15px;
		line-height: 24px;
	}
	#index .coverLayer .start {
		top: 75%;
	}
	#index .coverLayer .start > div {
		width: 172px;
		height: 40px;
		padding: 6px;
	}
	#index #startButton {
		line-height: 28px;
		font-size: 20px;
		letter-spacing: 12px;
	}
	
	.qBox .qNum {
		width: 32%;
		font-size: 30px;
		padding: 0 8% 0 12%;
	}
	.qBox .qNum > div { line-height: 25px; }
	.qBox .qNum > div:first-of-type { font-size: 40px; }
	.qBox .question {
		width: 68%;
		line-height: 35px;
	}
	.qBox .question .qEn { font-size: 32px; }
	.qBox .question .qKr {
		font-size: 20px;
		line-height: 27px;
	}
	
	
	
}