/** Font: Playfair Display **/
/* font-face로 쓰면 IE에서 error */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

/** Font: Noto Sans KR **/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(./font/NotoSansKR-Light.woff2) format('woff2'),
		 url(./font/NotoSansKR-Light.woff) format('woff'),
		 url(./font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(./font/NotoSansKR-Medium.woff2) format('woff2'),
		 url(./font/NotoSansKR-Medium.woff) format('woff'),
		 url(./font/NotoSansKR-Medium.otf) format('opentype');
}


/** Spotlight Animation **/
/** TODO: mobile용 animation도 만들기 **/
@keyframes spotlighting1 {
	0% { text-indent: 120%; line-height: 940%; }
	18% { text-indent: -100%; line-height: 520%; }
	29% { text-indent: 20%; line-height: 200%; }
	40% { text-indent: 90%; line-height: 470%; }
	57% { text-indent: -95%; line-height: 720%; }
	72% { text-indent: 40%; line-height: 250%; }
	84% { text-indent: 90%; line-height: 780%; }
	100% { text-indent: -60%; line-height: 950%; }
}
@keyframes spotlighting2 {
	0% { text-indent: -150%; line-height: 100%;	}
	16% { text-indent: -30%; line-height: 450%;	}
	27% { text-indent: 50%; line-height: 100%; }
	42% { text-indent: 100%; line-height: 420%;	}
	64% { text-indent: -110%; line-height: 240%; }
	74% { text-indent: 10%;	line-height: 100%; }
	82% { text-indent: 80%;	line-height: 240%; }
	100% { text-indent: -100%; line-height: 550%; }
}




html, body {
	position: relative;
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 480px;
	overflow: hidden;
	
	font-family: 'Playfair Display', 'Noto Sans KR', sans-serif;
}

#noise {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/noise.png');
	background-size: 12%;
	pointer-events: none;
	z-index: 999;
}

/** index page **/
#index {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #166152;
	font-size: 1em;
	text-align: center;
	transition: 3s;
	transition-timing-function: ease;
	z-index: 999;
}
#index.up {
	top: -200%;
}
#index .spotlight {
	position: absolute;
	top: -50%;
	left: 0;
	width: 100%;
	height: 150%;
	color: #166152;
	background: -o-linear-gradient(45deg, #ffa04c, #fea6e1);
	background: -webkit-linear-gradient(45deg, #ffa04c, #fea6e1);
	background: linear-gradient(45deg, #ffa04c, #fea6e1);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
#index #spotlight1 {
	font-size: 20em;
	animation-name: spotlighting1;
	animation-duration: 16s;
}
#index #spotlight2 {
	font-size: 40em;
	animation-name: spotlighting2;
	animation-duration: 22s;
}

#index .coverLayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 57%;
	height: 65%;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 12px;	
}
#index .coverLayer > div {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #f6a2ab;
}
#index .coverLayer > div > div {
	position: absolute;
	left: 0;
	box-sizing: border-box;
	width: 100%;	
}
#index .coverLayer .title {
	top: 26%;
	font-size: 120px;
	color: #b38f6b;
}
#index .coverLayer .title i {
	color: #32584c;
	font-style: italic;
	font-weight: 400;
}
#index .coverLayer .desc {
	top: 48%;
	font-size: 22px;
	color: #326857;
	font-weight: 200;
}
#index .coverLayer .desc b {
	font-weight: 400;
}
#index .coverLayer .start {
	top: 68%;
}
#index .coverLayer .start > div {
	margin: 0 auto;
	width: 280px;
	height: 65px;
	background-color: #1c5c4f;
	padding: 10px;
}
#index #startButton {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	line-height: 55px;
	color: #fff;
	font-size: 30px;
	letter-spacing: 12px;
}

#index #browserRecommend {
	display: none;
	position: absolute;
	bottom: 15px;
	width: 100%;
	color: #555;
	font-size: 12px;
}


/** main **/
/** frame **/
#frame {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 20px solid;
	border-color: transparent;
	transition: 1.5s;
	z-index: 888;
	pointer-events: none;
}

/** nav **/
#nav {
	position: fixed;
	bottom: 45px;
	width: 100%;
	text-align: center;
}
#nav li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
#nav .dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #8ca5a2;
	transition: .5s;
}
#nav .dot:hover {
	background-color: #ff93ac;
}
#nav .dot.on {
	background-color: #fff;
	border: 8px solid rgba(50, 50, 50, 0.4);
	
	animation-name: dotting;
	animation-timing-function: ease;
	animation-duration: .5s;
	animation-direction: alternate;
}
@keyframes dotting {
	0% { border: 0px solid rgba(50, 50, 50, 0.4); }
	70% { border: 12px solid rgba(50, 50, 50, 0.4); }
	100% { border: 8px solid rgba(50, 50, 50, 0.4); }
}

/** main sections **/
#main {
	position: relative;
	left: -1%;
	width: 800%;
	height: 100%;
	transition: 1s;
	transition-timing-function: ease;
}

#main > section {
	position: relative;
	float: left;
	width: 12.5%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
}

#section1 { background-color: #b3d3d0; color: #644b54; }
#section2 { background-color: #f8c8b8; }
#section3 { background-color: #043d5d; }
#section4 { background-color: thistle; }
#section5 { background-color: mediumaquamarine; }
#section6 { background-color: lightcoral; }
#section7 { background-color: lightcyan; }
#section8 { background-color: lightgoldenrodyellow; }

.qBox {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 8%;
	margin: auto 0;
	height: 150px;
}

.qBox .qNum {
	position: absolute;
	top: -110px;
	left: 0;
	font-size: 30px;
	text-align: center;
}
.qBox .qNum > div { width: 100%; line-height: 35px; }
.qBox .qNum > div:first-of-type { font-size: 50px; }
.qBox .qestion { line-height: 80px; }
.qBox .qestion .qEn { font-size: 70px; }
.qBox .qestion .qKr {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 55px;
	font-weight: 200;
	letter-spacing: -5px;
}

.aBox {
	position: absolute;
	top: 0;
	right: 8%;
}


/*
section {
	margin-bottom: 40px;
}
section p {
	margin-bottom: 10px;
}
section button {
	width: 65px;
	height: 45px;
	border: 2px solid #555;
}
section button.on {
	background-color: darkorange;
}
#getResultBtn {
	width: 200px;
	height: 60px;
	background-color: #456674;
	color: #fff;
}
*/


