<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
	<link rel="stylesheet" href="/css/project0.css">
	
	<script src="/js/lib/hammerjs/hammer.min.js"></script>
</head>
<body>
	<div id="frame"></div>
	
	<div id="logo">
		<?xml version="1.0" encoding="utf-8"?>
		<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
		<svg version="1.1" id="logoSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
			 y="0px" width="126px" height="25.482px" viewBox="0 0 126 25.482" enable-background="new 0 0 126 25.482" xml:space="preserve">
			<g>
				<path fill="#fff" d="M0,0.725C0,0.474,0.2,0.25,0.475,0.25h6.021c3.072,0,5.596,2.498,5.596,5.521
					c0,3.098-2.523,5.621-5.571,5.621H3.897v5.872c0,0.251-0.224,0.476-0.474,0.476H0.475C0.2,17.738,0,17.514,0,17.263V0.725z
					 M6.271,7.745c1.074,0,1.974-0.85,1.974-1.974c0-1.049-0.9-1.849-1.974-1.849H3.897v3.823H6.271z"/>
				<path fill="#fff" d="M18.641,0.725c0-0.25,0.2-0.475,0.475-0.475h7.47c2.998,0,5.446,2.423,5.446,5.396
					c0,2.298-1.524,4.147-3.698,5.022l3.423,6.345c0.175,0.324,0,0.726-0.425,0.726h-3.322c-0.2,0-0.35-0.125-0.4-0.225l-3.322-6.622
					h-1.724v6.371c0,0.251-0.225,0.476-0.475,0.476h-2.973c-0.275,0-0.475-0.225-0.475-0.476V0.725z M26.261,7.72
					c1.024,0,1.898-0.95,1.898-1.999s-0.875-1.898-1.898-1.898h-3.697V7.72H26.261z"/>
				<path fill="#fff" d="M38.632,9.243c0-5.471,2.323-8.744,6.396-8.744s6.395,3.272,6.395,8.744c0,5.47-2.323,8.744-6.395,8.744
					S38.632,14.713,38.632,9.243z M47.4,9.243c0-3.272-0.849-5.121-2.373-5.121s-2.374,1.849-2.374,5.121
					c0,3.297,0.85,5.121,2.374,5.121S47.4,12.541,47.4,9.243z"/>
				<path fill="#fff" d="M58.172,8.219c0-0.275,0.225-0.475,0.475-0.475h2.773c0.25,0,0.475,0.199,0.475,0.475v11.816
					c0,3.499-2.173,5.447-5.072,5.447c-1.299,0-2.623-0.552-3.047-0.949c-0.15-0.125-0.2-0.4-0.101-0.576l1.05-2.073
					c0.075-0.176,0.375-0.275,0.575-0.176c0.324,0.176,0.799,0.4,1.299,0.4c1.124,0,1.574-0.849,1.574-2.073V8.219z M58.047,2.748
					c0-1.1,0.875-1.999,1.974-1.999s1.998,0.899,1.998,1.999c0,1.099-0.899,1.974-1.998,1.974S58.047,3.847,58.047,2.748z"/>
				<path fill="#fff" d="M69.066,0.725c0-0.25,0.2-0.475,0.475-0.475h10.343c0.275,0,0.475,0.224,0.475,0.475v2.723
					c0,0.25-0.199,0.474-0.475,0.474h-6.92V7.02h5.695c0.25,0,0.476,0.224,0.476,0.475v2.723c0,0.275-0.226,0.475-0.476,0.475h-5.695
					v3.373h6.92c0.275,0,0.475,0.225,0.475,0.474v2.724c0,0.251-0.199,0.476-0.475,0.476H69.541c-0.274,0-0.475-0.225-0.475-0.476
					V0.725z"/>
				<path fill="#fff" d="M94.452,0c2.499,0,4.348,0.775,6.046,2.323c0.226,0.2,0.226,0.5,0.025,0.7l-1.948,2.023
					c-0.175,0.175-0.45,0.175-0.625,0c-0.925-0.824-2.148-1.274-3.373-1.274c-2.822,0-4.896,2.349-4.896,5.147
					c0,2.773,2.099,5.071,4.921,5.071c1.175,0,2.448-0.424,3.348-1.199c0.175-0.15,0.5-0.15,0.65,0.025l1.948,2.074
					c0.175,0.176,0.15,0.5-0.025,0.676c-1.698,1.646-3.847,2.422-6.071,2.422c-4.996,0-9.018-3.973-9.018-8.969
					C85.435,4.022,89.456,0,94.452,0z"/>
				<path fill="#fff" d="M109.771,3.922h-3.572c-0.274,0-0.476-0.224-0.476-0.474V0.725c0-0.25,0.201-0.475,0.476-0.475h11.092
					c0.275,0,0.475,0.224,0.475,0.475v2.723c0,0.25-0.199,0.474-0.475,0.474h-3.573v13.341c0,0.251-0.225,0.476-0.475,0.476h-2.997
					c-0.25,0-0.475-0.225-0.475-0.476V3.922z"/>
				<path fill="#fff" d="M123.615,13.24c1.3,0,2.398,1.099,2.398,2.398c0,1.274-1.099,2.349-2.398,2.349
					c-1.273,0-2.349-1.074-2.349-2.349C121.267,14.339,122.342,13.24,123.615,13.24z"/>
			</g>
		</svg>
	</div>
	
	<div id="index">
		<div id="spotlight1" class="spotlight">●</div>
		<div id="spotlight2" class="spotlight">●</div>
		<div class="coverLayer">
			<div>
				<div class="title">Taste<br class="m-show_inline"> <i>Picker</i></div>
				<div class="desc">당신의 라이프스타일을 통해 찾는 <br class="m-show_inline"> <b>취향 큐레이션</b></div>
				<div class="start">
					<div>
						<button type="button" id="startButton">START</button>
					</div>
				</div>
			</div>
		</div>
		<div id="browserRecommend">본 서비스는 크롬 브라우저 및 사파리 브라우저에 최적화되어 있습니다.</div>
	</div>
	
	<main id="main">
		<section id="section1">
			<div class="qBox">
				<div class="qNum">
					<div>1</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Gender</div>
					<div class="qKr">당신의 성별은?</div>
				</div>				
			</div>
			<div class="aBox">
				<div id="genderTagM" class="genderTag">
					<img class="line" src="/img/q1_line.jpg" alt="">
					<img class="tag" src="/img/q1_male.png" alt="Male" data-value="M">
				</div>
				<div id="genderTagF" class="genderTag">
					<img class="line" src="/img/q1_line.jpg" alt="">
					<img class="tag" src="/img/q1_female.png" alt="Female" data-value="F">
				</div>
			</div>
		</section>
		<section id="section2">
			<div class="qBox">
				<div class="qNum">
					<div>2</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Age</div>
					<div class="qKr">당신의 나이는 어떻게 되나요?</div>
				</div>
				<div class="qDesc"></div>
			</div>
			<div class="aBox">
				<div class="clock">
					<div id="clockBody" class="clockFace">
						<img src="/img/q2_clockBody.png" alt="">
					</div>
					<div id="clockNeedle2" class="clockFace">
						<img src="/img/q2_clockNeedle_2.png" alt="">
					</div>
					<div id="clockNeedle1" class="clockFace">
						<img src="/img/q2_clockNeedle_1.png" alt="">
					</div>
					<div id="age10" class="age" data-value="10"><span>10</span>대</div>
					<div id="age20" class="age" data-value="20"><span>20</span>대</div>
					<div id="age30" class="age" data-value="30"><span>30</span>대</div>
					<div id="age40" class="age" data-value="40"><span>40</span>대</div>
					<div id="age50" class="age" data-value="50"><span>50</span>대</div>
					<div id="age60" class="age" data-value="60"><span>60</span>대</div>
				</div>
			</div>
		</section>
		<section id="section3">
			<div class="qBox">
				<div class="qNum">
					<div>3</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Marriage</div>
					<div class="qKr">당신은 결혼을 했나요?</div>
				</div>
			</div>
			<div class="aBox">
				<div class="leftSide">
					<div class="upperDiv"></div>
					<div class="lowerDiv"></div>
				</div>
				<div class="rightSide">
					<div id="marriageButton">
						<img id="marriageButtonImg" src="/img/q3_default.png" alt="marriage button">
						<button class="marriageYes" data-value="yes"></button>
						<button class="marriageNo" data-value="no"></button>
					</div>
				</div>
				<div class="redDots hide">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</section>
		<section id="section4">
			<div class="qBox">
				<div class="qNum">
					<div>4</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Time at home</div>
					<div class="qKr">집에서 보내는 시간은 어느 정도 인가요?</div>
				</div>
				<div class="qDesc">집에 머무는 평균적인 시간을 드래그 해주세요.</div>
			</div>
			<div class="aBox">
				<div class="inside">
					<div class="gauge">
						<div class="gaugeText">
							<div>Indoor</div>
							<div><span id="inHour">12</span>hr</div>
						</div>
					</div>
				</div>
				<div class="outside">
					<div class="gauge">
						<div class="gaugeText">
							<div>Outdoor</div>
							<div><span id="outHour">12</span>hr</div>
						</div>
					</div>
				</div>
				<button id="handle"></button>
			</div>
		</section>
		<section id="section5">
			<div class="qBox">
				<div class="qNum">
					<div>5</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Shopping</div>
					<div class="qKr">당신의 취향저격 아이템 두 가지는?</div>
				</div>
			</div>
			<div class="aBox">
				<ul class="grid">
					<li id="bag" data-value="bag">
						<img src="/img/q5_bag.png" alt="bag">
					</li>
					<li id="bike" data-value="bike">
						<img src="/img/q5_bike.png" alt="bike">
					</li>
					<li id="laptop" data-value="laptop">
						<img src="/img/q5_laptop.png" alt="laptop">
					</li>
					<li id="chair" data-value="chair">
						<img src="/img/q5_chair.png" alt="chair">
					</li>
					<li id="watch" data-value="watch">
						<img src="/img/q5_watch.png" alt="watch">
					</li>
					<li id="stroller" data-value="stroller">
						<img src="/img/q5_stroller.png" alt="stroller">
					</li>				
				</ul>
			</div>
		</section>
		<section id="section6">
			<div class="qBox">
				<div class="qNum">
					<div>6</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Interior</div>
					<div class="qKr">홈인테리어에 대한 관심도는?</div>
				</div>
			</div>
			<div class="aBox">
				<div class="tapeline">
					<div id="tapelineWrap">
						<div id="tapelineArrow">
							<img src="/img/q6_arrow.png" alt="">
						</div>
						<div id="tapelineLine"></div>
					</div>
					<div id="tapelineBody">
						<div id="tapelineText" class="little"></div>
					</div>
				</div>
			</div>
		</section>
		<section id="section7">
			<div class="qBox">
				<div class="qNum">
					<div>7</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Color</div>
					<div class="qKr">마음에 드는 색상은?</div>
				</div>
				<div class="qDesc">컬러도형을 드래그해서 넣어주세요</div>
			</div>
			<div class="aBox">
				<div class="floor">
					<div class="hole">
						<div class="holeArrow">
							<img src="/img/q7_arrow.png" alt="">
						</div>
						<?xml version="1.0" encoding="utf-8"?>
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" width="536px" height="340px" viewBox="0 0 536 340" enable-background="new 0 0 536 340" xml:space="preserve">
							<ellipse display="none" fill="none" cx="268.5" cy="-2.5" rx="227.5" ry="66.5"/>
							<g>
								<defs>
									<ellipse id="SVGID_1_" cx="268.5" cy="66.5" rx="227.5" ry="66.5"/>
								</defs>
								<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_"  overflow="visible"/>
								</clipPath>
								<g id="holePath" clip-path="url(#SVGID_2_)">
									<path fill="#4C4142" d="M268.5,0C394.145,0,496,29.773,496,66.5S394.145,133,268.5,133C142.855,133,41,103.227,41,66.5
										S142.855,0,268.5,0z"/>
									<path fill="#514546" d="M268.5,41.25c116.624,0,211.167,31.881,211.167,71.208c0,39.328-94.543,71.209-211.167,71.209
										c-116.623,0-211.167-31.881-211.167-71.209C57.333,73.131,151.877,41.25,268.5,41.25z"/>
									<path fill="#625354" d="M268.5,95.333c98.582,0,178.5,29.772,178.5,66.5c0,36.728-79.918,66.5-178.5,66.5
										S90,198.561,90,161.833C90,125.105,169.918,95.333,268.5,95.333z"/>
								</g>
							</g>
						</svg>
					</div>
					<div class="holeCover">
						<?xml version="1.0" encoding="utf-8"?>
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" width="536px" height="273.5px" viewBox="0 0 536 273.5" enable-background="new 0 0 536 273.5" xml:space="preserve">
							<ellipse display="none" fill="none" cx="268.5" cy="-2.5" rx="227.5" ry="66.5"/>
							<path fill="#FBE4C3" d="M496,66.5c0,36.727-101.855,66.5-227.5,66.5C142.856,133,41,103.227,41,66.5H0v207h536v-207H496z"/>
						</svg>
					</div>
				</div>
				<div class="colors">
					<div id="red" class="color" data-value="red"></div>
					<div id="yellow" class="color" data-value="yellow"></div>
					<div id="green" class="color" data-value="green"></div>
					<div id="cyan" class="color" data-value="cyan"></div>
					<div id="purple" class="color" data-value="purple"></div>
				</div>
			</div>
		</section>
		<section id="section8">
			<div class="qBox">
				<div class="qNum">
					<div>8</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Interest</div>
					<div class="qKr">당신이 선호하는 취미생활은?</div>
				</div>
				<div class="qDesc">두 가지를 선택해주세요</div>
			</div>
			<div class="aBox">
				<div id="travel" class="stuff" data-value="travel">
					<img src="/img/q8_travel.png" alt="">
				</div>
				<div id="exercise" class="stuff" data-value="exercise">
					<img src="/img/q8_exercise.png" alt="">
				</div>
				<div id="DIY" class="stuff" data-value="DIY">
					<img src="/img/q8_DIY.png" alt="">
				</div>
				<div id="cook" class="stuff" data-value="cook">
					<img src="/img/q8_cook.png" alt="">
				</div>
				<div id="exhibition" class="stuff" data-value="exhibition">
					<img src="/img/q8_exhibition.png" alt="">
				</div>
			</div>
		</section>
		<section id="section9">
			<div class="loading">
				<div class="loadingText">결과 분석 중</div>
				<div class="loadingBar">
					<div class="barProgress"></div>
				</div>
			</div>
		</section>
	</main>
	
	<nav id="nav">
		<div>
			<div id="navProgress"></div>
			<ul>
				<li><div class="dot" data-page="1"></div></li>
				<li><div class="dot" data-page="2"></div></li>
				<li><div class="dot" data-page="3"></div></li>
				<li><div class="dot" data-page="4"></div></li>
				<li><div class="dot" data-page="5"></div></li>
				<li><div class="dot" data-page="6"></div></li>
				<li><div class="dot" data-page="7"></div></li>
				<li><div class="dot" data-page="8"></div></li>
			</ul>
		</div>
	</nav>
	
	<button type="button" id="nextButton">Next Question <span>→</span></button>
	
	<div id="noise"></div>
	<%- include('./common/footer') %>
	<h1 id="info"></h1>
	<script src="/js/project0.js"></script>
</body>
</html>