<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
</head>
<body>
	<main id="main">
		<h1></h1>
		<button type="button" id="getResultBtn">결과보기</button>
	</main>
	<%- include('./common/footer') %>
	<script src="/js/project0.js"></script>
</body>
</html>
