<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
	<script src="/js/lib/hammerjs/hammer.min.js"></script>
</head>
<body>
	<div id="frame"></div>
	<div id="logo">logo</div>
	<div id="index">
		<div id="spotlight1" class="spotlight">●</div>
		<div id="spotlight2" class="spotlight">●</div>
		<div class="coverLayer">
			<div>
				<div class="title">Taste<br class="m-show_inline"> <i>Picker</i></div>
				<div class="desc">당신의 라이프스타일을 통해 찾는 <br class="m-show_inline"> <b>취향 큐레이션</b></div>
				<div class="start">
					<div>
						<button type="button" id="startButton">START</button>
					</div>
				</div>
			</div>
		</div>
		<div id="browserRecommend">본 서비스는 크롬 브라우저 및 사파리 브라우저에 최적화되어 있습니다.</div>
	</div>
	<main id="main">
		<section id="section1">
			<div class="qBox">
				<div class="qNum">
					<div>1</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Gender</div>
					<div class="qKr">당신의 성별은?</div>
				</div>				
			</div>
			<div class="aBox">
				<div id="genderTagM" class="genderTag">
					<img src="/img/q1_male.png" alt="Male" data-value="M">
				</div>
				<div id="genderTagF" class="genderTag">
					<img src="/img/q1_female.png" alt="Female" data-value="F">
				</div>
			</div>
		</section>
		<section id="section2">
			<div class="qBox">
				<div class="qNum">
					<div>2</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Age</div>
					<div class="qKr">당신의 나이는 어떻게 되나요?</div>
				</div>
				<div class="qDesc"></div>
			</div>
			<div class="aBox">
			</div>
		</section>
		<section id="section3">
			<div class="qBox">
				<div class="qNum">
					<div>3</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Marriage</div>
					<div class="qKr">당신은 결혼을 했나요?</div>
				</div>
			</div>
			<div class="aBox">
				<div class="leftSide">
					<div class="upperDiv"></div>
					<div class="lowerDiv"></div>
				</div>
				<div class="rightSide">
					<div id="marriageButton">
						<img>
						<button class="marriageYes" data-value="yes"></button>
						<button class="marriageNo" data-value="no"></button>
					</div>
				</div>
			</div>
		</section>
		<section id="section4">
			<div class="qBox">
				<div class="qNum">
					<div>4</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn"></div>
					<div class="qKr">당신의 성별은?</div>
				</div>
			</div>
			<div class="aBox">
				
			</div>
		</section>
		<section id="section5">
			<div class="qBox">
				<div class="qNum">
					<div>5</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Gender</div>
					<div class="qKr">당신의 성별은?</div>
				</div>
			</div>
			<div class="aBox">
				
			</div>
		</section>
		<section id="section6">
			<div class="qBox">
				<div class="qNum">
					<div>6</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Gender</div>
					<div class="qKr">당신의 성별은?</div>
				</div>
			</div>
			<div class="aBox">
				
			</div>
		</section>
		<section id="section7">
			<div class="qBox">
				<div class="qNum">
					<div>7</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Gender</div>
					<div class="qKr">당신의 성별은?</div>
				</div>
			</div>
			<div class="aBox">
				
			</div>
		</section>
		<section id="section8">
			<div class="qBox">
				<div class="qNum">
					<div>8</div>
					<div>.....</div>
				</div>
				<div class="question">
					<div class="qEn">Gender</div>
					<div class="qKr">당신의 성별은?</div>
				</div>
			</div>
			<div class="aBox">
				
			</div>
		</section>
	</main>
	<nav id="nav">
		<ul>
			<li><div class="dot" data-page="1"></div></li>
			<li><div class="dot" data-page="2"></div></li>
			<li><div class="dot" data-page="3"></div></li>
			<li><div class="dot" data-page="4"></div></li>
			<li><div class="dot" data-page="5"></div></li>
			<li><div class="dot" data-page="6"></div></li>
			<li><div class="dot" data-page="7"></div></li>
			<li><div class="dot" data-page="8"></div></li>
		</ul>
		<div class="next">
			<button type="button" id="nextButton">NEXT</button>
		</div>
	</nav>
	<!--
		<section class="intro"></section>
		<section class="q1">
			<p>남? 여?</p>
			<button type="button" value="M">M</button>
			<button type="button" value="F">F</button>
		</section>
		<section class="q2">
			<p>나이?</p>
			<select name="age" id="age">
				<option value="10">10대</option>
				<option value="20" selected>20대</option>
				<option value="30">30대</option>
				<option value="40">40대</option>
				<option value="50">50대</option>
				<option value="60">60대</option>
			</select>
		</section>
		<section class="q3">
			<p>결혼?</p>
			<button type="button" value="false">Not married</button>
		</section>
		<section class="q4">
			<p>집에 있는 시간</p>
			<input type="text"> 시간 (0 ~ 24시간)
		</section>
		<section class="q5">
			<p>필요 (2개 고르기)</p>
			<button type="button" value="book">book</button>
			<button type="button" value="bag">bag</button>
			<button type="button" value="money">money</button>
			<button type="button" value="friend">friend</button>
			<button type="button" value="love">love</button>
		</section>
		<section class="q6">
			<p>인테리어 비용</p>
			<input type="text"> % (0 ~ 100%)
		</section>
		<section class="q7">
			<p>색깔</p>
			<button type="button" value="red">red</button>
			<button type="button" value="yellow">yellow</button>
			<button type="button" value="green">green</button>
			<button type="button" value="blue">blue</button>
			<button type="button" value="purple">purple</button>
		</section>
		<section class="q8">
			<p>문화 / 여가 생활 (2개 고르기)</p>
			<button type="button" value="DIY">DIY</button>
			<button type="button" value="cook">요리</button>
			<button type="button" value="travel">여행</button>
			<button type="button" value="exercise">운동</button>
			<button type="button" value="exhibition">여행</button>
		</section>
		<nav>
			<button type="button" id="getResultBtn">결과보기</button>
			<button type="button" id="goPrev">PREV</button>
			<button type="button" id="goNext">NEXT</button>
		</nav>
	-->
	<div id="noise"></div>
	<%- include('./common/footer') %>
	<script src="/js/project0.js"></script>
</body>
</html>
