<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	
	<meta name="title" content="">
	<meta name="description" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	
	<%- include('./common/head') %>
	
	<script src="/js/lib/crypto-js/crypto-js.js"></script>
</head>
<body>
	<h1>안녕하세요, 민영씨, 혜원씨 ㅋ </h1>
	<h2> + 한기자님 ㅋ </h2>
	
	<%- include('./common/footer') %>
	
	<script src="/js/smithoo.js"></script>
</body>
</html>
