<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
</head>
<body>
	<main>
		<div id="bgStripe"></div>
		<div id="spotlight" class="spotlight">●</div>
	</main>
	<!--
	<svg id="svgDefs">
		<defs>
			<clipPath id="clipCircle" x="0" y="0" width="200" height="200">
				<circle cx="100" cy="100" r="100"/>
			</clipPath>
			<pattern id="patternStripe" patternUnits="userSpaceOnUse" x="0" y="0" width="1000" height="1000">
				<image x="0" y="0" width="1000" height="1000" xlink:href="img/stripe.jpg" />
			</pattern>
		</defs>
	</svg>
	<div id="movie"></div>
	<script>
		var winHeight = parseInt($(window).height());
		var winWidth = parseInt($(window).width());
		bonsai.run(document.getElementById('movie'), {
			code: function() {
				var b = new Bitmap("img/stripe.jpg");
				new Circle(500, 500, 300).addTo(stage)
					.attr('fill', b)
					.animate('10s', {
						x: 100,
  						y: 900
					});
				/*new Bitmap("img/stripe.jpg").on("load", function() {
				  this.addTo(stage);
				});*/
			},
			width: winWidth,
			height: winHeight
		});
	</script>
	<main id="main">		
		<svg>
			<rect id="spotLight" x="0" y="0" width="100%" height="100%" fill="url(#patternStripe)" />
		</svg>
	</main>
	-->
	<%- include('./common/footer') %>
	<script src="/js/project0.js"></script>
</body>
</html>