<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
</head>
<body>
	<main>
		<div id="bgStripe"></div>
		<div id="spotlight" class="spotlight">●</div>
	</main>
	<%- include('./common/footer') %>
	<script src="/js/project0.js"></script>
</body>
</html>