<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
	
	<script src="/js/lib/handlebars/handlebars.min.js"></script>
</head>
<body>
	<div> mag: 
		<% if (mag == "design") { %>
			design
		<% } else if (mag == "happy") { %>
			happy
		<% } else if (mag == "luxury") { %>
			luxury
		<% } else if (mag == "mywedding") { %>
			mywedding	
		<% } else if (mag == "mens") { %>
			mens
		<% } else if (mag == "enfant") { %>
			enfant
		<% } %>
	</div>
	
	----------------------------------------
	
	<div> smag: 
		<% if (smag == "design") { %>
			design
		<% } else if (smag == "happy") { %>
			happy
		<% } else if (smag == "luxury") { %>
			luxury
		<% } else if (smag == "mywedding") { %>
			mywedding	
		<% } else if (smag == "mens") { %>
			mens
		<% } else if (smag == "enfant") { %>
			enfant
		<% } %>
	</div>
</body>
</html>