<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
	
	<link rel="stylesheet" href="/css/project0_result.css">
</head>
<body>
	<main>
		<div class="sideBg"></div>
		<section>
			<div> 
				<div class="dhLogo">
					<a href="http://www.designhouse.co.kr">
						
					</a>
				</div>
			
			mag: 
				<% if (mag == "design") { %>
					design
				<% } else if (mag == "happy") { %>
					happy
				<% } else if (mag == "luxury") { %>
					luxury
				<% } else if (mag == "mywedding") { %>
					mywedding	
				<% } else if (mag == "mens") { %>
					mens
				<% } else if (mag == "enfant") { %>
					enfant
				<% } %>
			</div>
		</section>
	</main>
	<%- include('./common/footer') %>
	<script src="/js/project0_result.js"></script>
</body>
</html>