<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
</head>
<body>
	
	outer: <div id="winOuterHeight"></div>
	no: <div id="winHeight"></div>
	inner: <div id="winInnerHeight"></div>
	<script>
		$("#winOuterHeight").text(window.outerHeight);
		$("#winHeight").text(window.height);
		$("#winInnerHeight").text(window.innerHeight);
	</script>
</body>
</html>