<!DOCTYPE html>
<html>
<head>
	<%- include('./common/head') %>
</head>
<body>
	<div id="winOuterHeight"></div>
	<div id="winHeight"></div>
	<div id="winInnerHeight"></div>
	<script>
		$("#winOuterHeight").text($(window).outerHeight());
		$("#winHeight").text($(window).height());
		$("#winInnerHeight").text($(window).innerHeight());
	</script>
</body>
</html>